# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env

# Maps and data (exclude from git but will be generated on Heroku)
maps/
data/

# Netlify build directory
netlify_build/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data and maps
examples/
website/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
ENV/
*.swp
*.swo

# OS specific files
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db 